.EventPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}

.EventPage h1 {

  text-align: center;
  font-size: 90px;
  border-bottom: 1px solid #000;
  padding-top: 10px;
}

/* Rest of the CSS code remains the same */


.EventCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.EventCards .Card {
  margin: 20px;
  padding: 40px;
  border: 1px solid #120b0b;
  border-radius: 5px;
  text-align: center;
  max-width: 300px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.EventCards .Card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.EventCards h2 {
  margin-bottom: 10px;
}

.EventCards img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.EventCards p {
  margin-bottom: 20px;
}

.EventCards button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.EventCards button:hover {
  background-color: #45a049;
}

.EventCards a {
  display: block;
  margin-top: 20px;
  text-align: center;
  color: #333;
}
